Repository yehandesilva/monkeyPoll, pull requests merged in 2024-11, with the labels that each got.

#32 Creation of Account Entity
  backend/pom.xml
  backend/src/main/java/sysc4806group25/monkeypoll/Account.java
  backend/src/main/java/sysc4806group25/monkeypoll/AccountRepository.java
  backend/src/test/java/sysc4806group25/monkeypoll/AccountTest.java
Labels: backend

#31 Frontend logo upgrade
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/monkeyPoll-32x32.png
  frontend/public/monkeyPoll-512x512.png
  frontend/public/monkeyPollLogoWithWhiteText.png
  frontend/public/monkeypoll-full-black.svg
  frontend/public/monkeypoll-full-white.svg
  frontend/public/monkeypoll-logo-green.svg
  frontend/public/monkeypoll-logo-white.svg
  frontend/src/App.jsx
  frontend/src/welcome/LoginDialog.jsx
  frontend/src/welcome/Welcome.jsx
Labels: frontend

#33 Update README for early prototype
  README.md
Labels: documentation

#34 Created Account Controller and Implemented authentication
  backend/pom.xml
  backend/src/main/java/sysc4806group25/monkeypoll/Account.java
  backend/src/main/java/sysc4806group25/monkeypoll/AccountRepository.java
  backend/src/main/java/sysc4806group25/monkeypoll/config/SecurityConfig.java
  backend/src/main/java/sysc4806group25/monkeypoll/controller/AccountController.java
  backend/src/main/java/sysc4806group25/monkeypoll/controller/HomeController.java
  backend/src/main/java/sysc4806group25/monkeypoll/service/AccountUserDetailsService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/sysc4806group25/monkeypoll/AccountControllerTest.java
  frontend/src/api/userApi.js
Labels: backend

#35 Fix/28 integrate frontend pom
  .gitignore
  backend/pom.xml
  frontend/package-lock.json
  frontend/pom.xml
  package-lock.json
  pom.xml
Labels: integration

#37 Creating Early prototype ER Diagram and Model Diagram
  README.md
  diagrams/current/ERDiagram.png
  diagrams/current/UMLDiagram.png
  diagrams/milestone1/ERDiagram.png
  diagrams/milestone1/UMLDiagram.png
Labels: documentation

#45 Upgrade README to new coloured logo
  README.md
  frontend/public/monkeypoll-full-green.svg
Labels: documentation

#52 Fixed session Persistence including adding /logout endpoint
  backend/src/main/java/sysc4806group25/monkeypoll/config/SecurityConfig.java
  backend/src/main/java/sysc4806group25/monkeypoll/controller/AccountController.java
  frontend/src/MenuBar.jsx
  frontend/src/api/userApi.js
Labels: bug, frontend, backend

#62 Feature #43: Implement user interface for completing a survey
  backend/src/main/java/sysc4806group25/monkeypoll/MonkeyPollApplication.java
  backend/src/main/java/sysc4806group25/monkeypoll/config/SecurityConfig.java
  backend/src/main/java/sysc4806group25/monkeypoll/model/ChoiceOption.java
  backend/src/main/java/sysc4806group25/monkeypoll/model/ChoiceQuestion.java
  backend/src/main/java/sysc4806group25/monkeypoll/model/Question.java
  backend/src/main/java/sysc4806group25/monkeypoll/model/Survey.java
  backend/src/test/java/sysc4806group25/monkeypoll/SurveyControllerTest.java
  frontend/src/App.jsx
  frontend/src/api/surveyApi.js
  frontend/src/context/SurveyContext.jsx
  frontend/src/main.jsx
  frontend/src/survey/Survey.jsx
  frontend/src/welcome/Welcome.jsx
  frontend/vite.config.js
Labels: frontend, backend

#65 Feature/Post & Get Survey Endpoints
  backend/src/main/java/sysc4806group25/monkeypoll/controller/SurveyController.java
  backend/src/main/java/sysc4806group25/monkeypoll/dto/SurveyResponseDTO.java
  backend/src/main/java/sysc4806group25/monkeypoll/model/Survey.java
  backend/src/main/java/sysc4806group25/monkeypoll/model/SurveyCompletion.java
  backend/src/main/java/sysc4806group25/monkeypoll/repo/ChoiceQuestionRepository.java
  backend/src/main/java/sysc4806group25/monkeypoll/repo/QuestionRepository.java
  backend/src/main/java/sysc4806group25/monkeypoll/repo/SurveyCompletionRepository.java
  backend/src/main/java/sysc4806group25/monkeypoll/service/SurveyService.java
  backend/src/test/java/sysc4806group25/monkeypoll/SurveyControllerTest.java
  frontend/src/api/surveyApi.js
  frontend/src/survey/Survey.jsx
Labels: backend, integration

#54 Survey Creation Page
  frontend/src/api/surveyApi.js
  frontend/src/home/ChoiceQuestionOptions.jsx
  frontend/src/home/CreateSurvey.jsx
  frontend/src/home/Home.jsx
  frontend/src/home/NumberQuestionOptions.jsx
  frontend/src/home/Question.jsx
Labels: frontend

#67 Fix #64: Changed question numbering to use array index (+1) instead of questionId
  frontend/src/survey/Survey.jsx
Labels: frontend

#61 Updated README for Alpha Release
  README.md
Labels: documentation

#78 Ai responses on frontend
  backend/src/main/java/sysc4806group25/monkeypoll/controller/ChatController.java
  frontend/public/aiMonkey.png
  frontend/src/api/surveyApi.js
  frontend/src/survey/CreateSurvey.jsx
  frontend/src/survey/Question.jsx
Labels: frontend
